project: 
  fullPath: "/CxServer/testProject123434556"
  origin: "cx-cli"
sast: 
  configuration: "Default Configuration"
  excludeFolders: "nothing"
  includeExcludePattern: "something"
  high: 3
  medium: 1
  low: 2
  incremental: false
  preset: "Checkmarx Default"
  privateScan: false
sca:
  fileInclude: "dll" 
  fileExclude: "nothing.jar" 
  pathExclude: "test"
  high: 3
  medium: 3
  low: 3
